.container-fluid {
	padding: 60px 50px;
}

.navbar li {
    padding-top: 5px;
    padding-right: 10px;
    margin-right: 2px;
}

.carousel-inner img {
	margin:auto;
}
.carousel-control.right, .carousel-control,left {
	background-image: none;
	color: #8ccee7;
}

.carousel-indicators li{
	border-color: #8ccee7;
}

.carousel-indicators li.active {
	background-color: #8ccee7;
}

.jumbotron {
	background-color:#8ccee7;
	color: #ffffff;
	padding: 100px 25px;
}

.thumbnail {
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}

.thumbnail img {
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}

.item h4 {
	font-size: 19px;
	line-height: 1.375em;
	font-weight: 400;
	font-style: italic;
	margin: 70px 0;
}

.item span {
	font-style: normal;
}

.panel {
	border: 1px solid #8ccee7;
	border-radius: 0;
	transition: box-shadow 0.5s;
}

.panel:hover {
	box-shadow: 5px 0px 40px rgba(0,0,0, 0.2);
}

.panel-heading {
	color: #ffffff !important;
	background-color: #8ccee7 !important;
	padding: 25px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.logo-small {
	font-size: 10px;
}