{% extends "base.html" %}
{% block title %}BucketLists{% endblock %}
{% block body %}
<div class="container">
    
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <!--Bucket List Panel-->
            <div class="panel panel-default text-center">
                        
                <div class="panel-heading">
                    <h5>My Bucket Lists</h5>
                </div>
                
                <div class="panel-body">
                    <div class="tab">
                        <ul class="nav nav-default">
                            <!-- for loop to display tab items (bucketlists) -->
                            {% if sessionblist != 0 %}
                            {% for i in userblist %}
                            <li><a data-toggle="tab" href="#{{i}}">{{ i }}</a></li>
                            {% endfor %}
                            {% else %}
                            <li><a data-toggle="tab" href"#nolist"></a></li>
                            {% endif %}
                            <!-- endfor -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <form action={{url_for('new_list')}} method = "POST">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <input id="inpListName" name="newlistname" type="text" class="form-control" placeholder=" New Bucket List">
                            <!--Date selection List-->
                            <div class="form-group horizontal">
                                <br>
                                <label for="blist1"><p>Done By:</p></label>
                                <select class="form-control" name="list_year" id="blist1">
                                    <option value="0">Year</option>
                                    <option value="2017">2017</option>
                                    <option value="2018">2018</option>
                                    <option value="2019">2019</option>
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                </select>
                                <select class="form-control" name="list_month" id="blist2">
                                    <option value="0">Month</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                            <!--Comment field-->
                            <div class="form-group">
                                <label for="quote">Quote:</label>
                                <textarea class="form-control" name="list_quote" type="text" rows="3" id="comment"></textarea>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <input type="submit" name="submit" value="Submit New List" class="btn btn-info btn-lg" role="button">
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        
        
        <!--Bucket List Description-->
        <div class="col-lg-9 col-md-9 col-sm-9">
            <div class="tab-content">
                {% if sessionblist != 0 %}
                <div id="default" class="tab-pane active">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <br>
                            <h2 class="text-center" style="font-size:50px;">{{user}}'s Bucket List</h2>
                        </div>
                        <div class="panel-body">
                            <h3 class="text-center"><span class="glyphicon glyphicon-hand-left" style="font-size:50px;"></span><br><br>Check out your bucket lists by clicking on one of the names to the left</h3>
                            <br>
                            <br>
                            <h3 class="text-center" style="font-size:50px">Start your day with a new bucket list!</h3>
                        </div>
                    </div>
                </div>
                {% for m in userblist %}
                <div id="{{ m }}" class="tab-pane">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3">
                                    <!-- Replace with data from views.py -->
                                    <h1 style="padding-left:20px;">{{ m }}</h1>
                                    <h2 style="padding-left:20px;">{{ userdata[m].list_quote }}</h2>
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#EditBucketList">Edit Bucket List</button>
                                    <form class="horizontal" action={{url_for('delete_list')}} method = "POST">
                                        <input type="hidden" name="listtodelete" defaultValue={{userblist[m]}}>
                                        <input type="submit" name="submit" value="Delete Bucket List" class="btn btn-danger btn-sm" role="button">
                                    </form>
                                </div>
                                <div id="EditBucketList" class="modal fade" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type"button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Edit {{userblist[m]}} </h4>
                                            </div>
                                            <div class="modal-body">
                                                <form action={{url_for('edit_list')}} method = "POST">
                                                    <label for="inputsm" class="control-label">Enter new name:</label>
                                                    <input name="newbname" defaultValue="None" type="text" class="form-control" placeholder=" New Bucket List Name">
                                                    <label for="inputsm" class="control-label">Enter new quote:</label>
                                                    <input name="newbquote" defaultValue="None" type="text" class="form-control" placeholder=" New Bucket List Quote">
                                                    <input type="hidden" name="listtoedit" value={{userdata[m]}}>
                                                    <input type="hidden" name="usertoedit" value={{username}}>
                                                    <div class="form-group horizontal">
                                                        <br>
                                                        <label for="blist1"><p>Done By:</p></label>
                                                        <select class="form-control" name="newlist_year" id="blist3">
                                                            <option value="0">Year</option>
                                                            <option value="2017">2017</option>
                                                            <option value="2018">2018</option>
                                                            <option value="2019">2019</option>
                                                            <option value="2020">2020</option>
                                                            <option value="2021">2021</option>
                                                            <option value="2022">2022</option>
                                                        </select>
                                                        <select class="form-control" name="newlist_month" id="blist4">
                                                            <option value="0">Month</option>
                                                            <option value="1">January</option>
                                                            <option value="2">February</option>
                                                            <option value="3">March</option>
                                                            <option value="4">April</option>
                                                            <option value="5">May</option>
                                                            <option value="6">June</option>
                                                            <option value="7">July</option>
                                                            <option value="8">August</option>
                                                            <option value="9">September</option>
                                                            <option value="10">October</option>
                                                            <option value="11">November</option>
                                                            <option value="12">December</option>
                                                        </select>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <input type="submit" name="submit" value="Submit" class="btn btn-danger btn-sm" role="button">
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-3 col-sm-3 text-right">
                                    <h3>Days Remaining:</h3>
                                    <h3>{{ userdeadline[m] }}</h3>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <!--Activities List-->
                                    <div class="tab">
                                        <ul class="nav nav-default">
                                            <!-- for loop to display tab items (activites) -->
                                            {% for n in useralistdict[m] %}
                                            <li><a data-toggle="tab" href="#{{ n }}">{{ n }}</a></li>
                                            {% endfor %}
                                            <!-- endfor loop -->
                                        </ul>
                                    </div>
                                    <!-- New Activities Forms-->
                                    <input id="inpListName" class="form-control" placeholder="New Activity">
                                    <br>
                                    <form action={{url_for('add_activity')}} method = "POST">
                                    <a href="#" class="btn btn-info btn-md" role="button">Submit New Activity</a>
                                    </form>
                                </div>
                                <div class="col-lg-8 col-md-3 col-sm-3">
                                    <!--Activities Content-->
                                    <div class="tab-content">
                                        {% for m in useralistdict[i]  %}
                                        <div id="m" class="tab-pane">
                                            <!--Activity Description-->
                                            <!--Edit Activity Forms-->
                                            <br>
                                            <div class="input-group">						
                                                <input type="text" class="form-control" placeholder="Add Media">
                                                <div class="input-group-btn">
                                                    <button type="button" class="btn">Browse</button>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="text-center"><a href="#" class="btn btn-info btn-md" role="button">Submit</a></div>
                                            <div class="pull-right"><a href="#" style="padding-left:20px;">Edit</a><a href="#" style="padding-left:20px;">Delete</a></div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}

                <div id="nolist" class="tab-pane active">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-3">
                                    <!-- Replace with data from views.py -->
                                    <h1 style="padding-left:20px;" class="text-center">You don't have any Bucket Lists yet</h1>
                                </div>
                                <div class="col-lg-8 col-md-3 col-sm-3 text-right">
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel-body">
                            <h1 class="text-center">Create your first bucket list here:</h1>
                            <form action={{url_for('new_list')}} method = "POST">
                                <div class="panel panel-default text-center">
                                    <div class="panel-body">
                                        <input id="inpListName" name="newlistname" type="text" class="form-control" placeholder=" New Bucket List">
                                        <!--Date selection List-->
                                        <div class="form-group horizontal">
                                            <br>
                                            <label for="blist1"><p>Done By:</p></label>
                                            <select class="form-control" name="list_year" id="blist1">
                                                <option value="0">Year</option>
                                                <option value="2017">2017</option>
                                                <option value="2018">2018</option>
                                                <option value="2019">2019</option>
                                                <option value="2020">2020</option>
                                                <option value="2021">2021</option>
                                                <option value="2022">2022</option>
                                            </select>
                                            <select class="form-control" name="list_month" id="blist2">
                                                <option value="0">Month</option>
                                                <option value="1">January</option>
                                                <option value="2">February</option>
                                                <option value="3">March</option>
                                                <option value="4">April</option>
                                                <option value="5">May</option>
                                                <option value="6">June</option>
                                                <option value="7">July</option>
                                                <option value="8">August</option>
                                                <option value="9">September</option>
                                                <option value="10">October</option>
                                                <option value="11">November</option>
                                                <option value="12">December</option>
                                            </select>
                                        </div>
                                        <!--Comment field-->
                                        <div class="form-group">
                                            <label for="quote">Quote:</label>
                                            <textarea class="form-control" name="list_quote" type="text" rows="3" id="comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <input type="submit" name="submit" value="Submit New List" class="btn btn-info btn-lg" role="button">
                                    </div>
                                </div>
                                </form>
                        </div>
                    </div>
                </div>


                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %}

<!-- Page Footer -->
<footer class="foot-bar text-center">
	<div class="container">
	<p>This product is not protected by any copyright law :(</p>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"> </script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"> </script>


</body>
</html>